/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
#body {background-image: url("bg_silver.jpg");
text-align: center;
color: #3f8ec4;

	}
#maintable{
background-color: #ffffff;
	}
#dyncontent {background-color: #ffffff;
	width: 60%;
	text-align: center;
	padding:0;
	margin:0 auto;
	margin-top: 2em;
	

	}
#me{
	  font-size: 0.75em;
	  font-weight: normal;
	
	}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #3f8ec4;
  padding-top: 20px;
  
}
.gwt-Button{
	color: #3f8ec4;
	}
.sendButton {
  display: block;
  font-size: 16pt;
}
.gwt-TextArea{
		color: #3f8ec4;
	
	}
.gwt-TextBox{
	color: #3f8ec4;
	}
.diapnl{
	
	padding: 22px;
	
	}
